body {
  margin: 0;
  font-family: Arial;
  background: #0b1220;
  color: white;
  padding: 20px;
}

.container {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 18px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin: 10px 0;
}

.card.small {
  font-size: 14px;
  text-align: left;
}

.form input, .form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: white;
}

button:first-child {
  background: #22c55e;
}

button:last-child {
  background: #ef4444;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  cursor: pointer;
}
